body{
    background-color: paleturquoise;
    font-size: 21px;
    color: black;
}
h1{
    font-weight: bold;
    color: blueviolet;
}
.box{
    width: 300px;
    background-color: aqua;
    margin: 100px 50px;
    border: 5px solid blue ;
    padding: 20px 100px;
}